@font-face {
  font-family: "MarkOffcPro";
  src: url("./fonts/MarkOffcPro.ttf") format("truetype");
}

@font-face {
  font-family: "MarkOffcPro-Bold";
  src: url("./fonts/MarkOffcPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MarkOffcPro-Book";
  src: url("./fonts/MarkOffcPro-Book.ttf") format("truetype");
}

@font-face {
  font-family: "MarkOffcPro-Heavy";
  src: url("./fonts/MarkOffcPro-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "MarkOffcPro-Medium";
  src: url("./fonts/MarkOffcPro-Medium.ttf") format("truetype");
  font-weight: bold;
}
